extends ../layout.jade

block content
  //- script(src="/scripts/showPost.js")

  div(class="post-container")
    img(src="#{post.url}")
    p
      a(href='/users/#{post.uid}') #{post.user}
    p 
      a(href='http://maps.google.com/maps?q=loc:#{post.lat},#{post.long}') #{post.loc}
    p #{post.desc}
    button Like
