extends ./userLayout.jade


block scripts


block content

     .navbar
      .navbar-inner
        .left.sliding
        .center.sliding #{currentUser.display_name}
        .right
          a(href="#" data-panel="right" class='open-panel link icon-only')
           i.icon.icon-bars
                        //- a(href="/settings").open-panel.link.icon-only 
            
     .pages.navbar-through
      .page(style='opacity:1')
        .page-content
          .row
            .col-xs-12
              each feed in feeds
                img(src="#{feed.url}" style="width:400px; height")
                .container-fluid(style="margin-bottom:10%; margin-top:5%")
                  .row.col-xs-3
                    i(class="fa fa-2x fa-map-marker" aria-hidden="true") 
                  .col-xs-9
                    .h5 #{feed.location}
                    .h5 #{feed.display_name}
                    .p #{feed.description}


     .toolbar.toolbar-bottom(style="opacity:0.7")
       .toolbar-inner
          a(href="/search" class="link external" style='font-size:0.5 em')
           i(class="fa fa-2x fa-search" aria-hidden="true")
          a(href="/posts" class="link external")
           i(class="fa fa-2x fa-camera" aria-hidden="true")
          a(href="/users" class="link external") 
           i(class="fa fa-3x fa-home" aria-hidden="true")
          a(href="/users/#{currentUser.id}" class="link external")
           i(class="fa fa-2x fa-user" aria-hidden="true")
          a(href="/clans" class="link external")
           i(class="fa fa-2x fa-users" aria-hidden="true")

     div(class="panel-overlay")
     div(class="panel panel-right panel-cover" style='background-color:#D7D0FF; opacity:0.7; width:60%; height:100%')
        div(class="content-block" style='margin: 130px 0; ')
          ul(style='list-style-type:none; margin:0 auto; font-size:1em ')
           li(style='color:black;') 
            Span Edit User
             br
             br
             br
             form(action="/clans" method="POST" style='color:black')
               label User Name
               br
               input(type="text" name="clan[clan_name]" value='username')
               br
               label Favorite Cake
               br
               input(type="text" name="clan[intro]")
               br
               input(type="submit" value="create clan")
           br
           br 
           //- li
           //-   a(href="#" style='color:black') list clan members (newpage?)


